<%= form_with(model: @property, local: true) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :property_name, 'Property Name' %><br>
  <%= f.text_field :property_name %><br>
  <%= f.label :rent, 'Rent' %><br>
  <%= f.text_field :rent %>circle<br>
  <%= f.label :address, 'address' %><br>
  <%= f.text_field :address %><br>
  <%= f.label :age, 'Age' %><br>
  <%= f.text_field :age %>Year<br>
  <%= f.label :note, 'remarks' %><br>
  <%= f.text_area :note %><br>

  <hr>

  <%= f.fields_for :nearest_stations do |nearest_station| %>
    <h4>
      Nearest station
      <%= nearest_station.index + 1 %>
    </h4>
    <%= nearest_station.label :route_name, 'Route name' %><br>
    <%= nearest_station.text_field :route_name %><br>
    <%= nearest_station.label :station_name, 'Station name' %><br>
    <%= nearest_station.text_field :station_name %><br>
    <%= nearest_station.label :time, 'Minutes on foot' %><br>
    <%= nearest_station.text_field :time %>Minutes<br>
  <% end %>
  <%= f.submit 'to register' %><br>
<% end %>